html, body, .container {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#app {
  height: 100vh;
  margin: 0px;
}

small{
  font-size: 80%;
}
ins, mark{
  background: #D4F5FF;
  color: #666;
  text-decoration: none;
}
abbr{
    border-bottom: 1px dotted;
}
dfn, em{
  font-style: italic;
}
del{
  text-decoration: line-through;
}
em{
  color: #F44336;
}
strong {
    font-weight: 700;
}
.code,
code{
  font-family: 'Roboto Mono', monospace;
}
/* __ typography text modifiers __ */

.text-12,
.href-text-12 a{
  font-size: 12px !important;
}
.text-caption,
.text-13,
.href-text-13 a{
  font-size: 13px !important;
}
.text-14,
.href-text-14 a{
  font-size: 14px !important;
}
.text-body,
.text-15,
.href-text-15 a{
  font-size: 15px !important;
}
.text-16,
.href-text-16 a{
  font-size: 16px !important;
}
.text-heading,
.text-17,
.href-text-17 a{
  font-size: 17px !important;
  font-weight: 500;
}
.text-18,
.href-text-18 a{
  font-size: 18px !important;
}
.text-title,
.text-19,
.href-text-19 a{
  font-size: 19px !important;
  font-weight: 500;
}
.text-20,
.href-text-20 a{
  font-size: 20px !important;
}
.text-21,
.href-text-21 a{
  font-size: 21px !important;
}
.text-22,
.href-text-22 a{
  font-size: 22px !important;
}
.text-23,
.href-text-23 a{
  font-size: 23px !important;
}
.text-24,
.href-text-24 a{
  font-size: 24px !important;
}
.text-25,
.href-text-25 a{
  font-size: 24px !important;
}
.text-display,
.text-26,
.href-text-26 a{
  font-size: 26px !important;
  font-weight: 600;
}

/*__ blockquote & alerts __ */

blockquote, .quote {
  background: #fafafa;
  width: 100%;
  float: left;
  padding: 15px;
  font-size: 16px;
  line-height: 23px;
  border-left: 3px solid #ccc;
}
blockquote.reverse,
.quote.revers{
  text-align: right;
  border-right: 3px solid #ccc;
  border-left: 0;
}
blockquote cite,
blockquote .cite,
.quote cite, .quote .cite{
  font-size: 14px;
  color: #777;
  line-height: 36px;
}
cite::before,
.cite::before{
  content: '\2014 \00A0';
}
.reverse cite::before,
.reverse .cite::before{
  content: "";
}
.reverse cite::after,
.reverse .cite::after{
  content: '\00A0 \2014';
}

/* __ dropcap __ */

.dropcap{
  line-height: 23px;
}
.dp{
  float: left;
  font-size: 52px;
  line-height: 48px;
  margin: 0 5px 0 -3px;
  font-weight: 500;
}
.dp-bg{
  float: left;
  background: #eee;
  padding: 6px 9px;
  line-height: 48px;
  font-size: 55px;
  margin: 7px 5px 0 0;
}

/* __ line height __ */

.lh-1{
  line-height: 1;
}
.lh-12{
  line-height: 1.2;
}
.lh-15{
  line-height: 15px;
}
.lh-2{
  line-height: 2;
}

/*
  Helper / Modifier Module v1
  -------------------------
  @desc: Default helper modifiers
  @author: Alan Museljic
  @twitter: https://www.twitter.com/_uloga
  @source: http://www.decorator.io/modulr
\--------------------------------------------*/


/*__ text alignment __*/

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-justify{
  text-align: justify;
}

/* __ white space __*/

.text-nowrap{
  white-space: nowrap;
}

/*__ text  __*/

.text-capitalize,
.href-text-capitalize a{
  text-transform: capitalize;
}
.text-lowercase,
.href-text-lowercase a{
  text-transform: lowercase;
}
.text-uppercase,
.href-text-uppercase a{
  text-transform: uppercase;
}

/* __ text style __ */

.text-normal,
.href-text-normal a{
  font-style: normal;
}

.text-italic,
.href-text-italic a{
  font-style: italic;
}
.text-oblique,
.href-text-oblique a{
  font-style: oblique;
}
.text-initial,
.href-text-initial a{
  font-style: initial;
}
.text-inherit,
.href-text-inherit a{
  font-style: inherit;
}

/* __ hover text __ */

.hover-text-underline:hover,
.hover-text-underline a:hover{
  text-decoration: underline;
}
.hover-text-del:hover,
.hover-text-del a:hover{
  text-decoration: line-through;
}
.hover-text-italic:hover,
.hover-text-italic a:hover{
  font-style: italic;
}
.hover-text-strong:hover,
.hover-text-strong a:hover{
  font-weight: bold;
}

/* __ font weight __ */

.text-strong,
.href-text-strong a{
  font-weight: 600;
}
.text-light,
.href-text-light a{
  font-weight: 300;
}
.text300,
.href-text300 a{
  font-weight: 300;
}
.text400,
.href-text400 a{
  font-weight: 400;
}
.text500,
.href-text500 a{
  font-weight: 500;
}
.text600,
.href-text600 a{
  font-weight: 600;
}
.text700,
.href-text700 a{
  font-weight: 700;
}
.text800,
.href-text800 a{
  font-weight: 800;
}

/* __ borders __ */

.solid,
.border-solid{
  border-style: solid;
}
.dashed,
.border-dashed{
  border-style: dashed;
}
.dotted,
.border-dotted{
  border-style: dotted;
}
.double,
.border-double{
  border-style: double;
}

/* __ border size __ */

.border-1, .line.border-1,
.filter.border-1 > li > a{
  border-width: 1px;
}
.border-2, .line.border-2,
.filter.border-2 > li > a{
  border-width: 2px;
}
.border-3, .line.border-3,
.filter.border-3 > li > a{
  border-width: 3px;
}
.border-4, .line.border-4,
.filter.border-4 > li > a{
  border-width: 4px;
}
.border-5, .line.border-5,
.filter.border-5 > li > a{
  border-width: 5px;
}
.border-6, .line.border-6,
.filter.border-6 > li > a{
  border-width: 6px;
}

/* __ border position __*/

.border.top,
.border-top{
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
.border.right,
.border-right{
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}
.border.bottom,
.border-bottom{
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.border.left,
.border-left{
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}
.border.horizontal,
.border-h{
  border-left: 0;
  border-right: 0;
}
.border.vertical,
.border-v{
  border-top: 0;
  border-bottom: 0;
}
.border.top,
.border.right,
.border.bottom,
.border.left,
.border-top,
.border-right,
.border-bottom,
.border-left{
  border-color: #e6e6e6;
}

/* __ remove borders __ */

.-border{
  border-width: 0 !important;
}
.-border-top{
  border-top-width: 0 !important;
}
.-border-right{
  border-right-width: 0 !important;
}
.-border-bottom{
  border-bottom-width: 0 !important;
}
.-border-left{
  border-left-width: 0 !important;
}
.-border-v{
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}
.-border-h{
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
}

/* __ round / rounded __ */

.round, .circle{
  border-radius: 122px;
  -moz-border-radius: 122px;
  -webkit-border-radius: 122px;
}
.round-top{
  border-top-left-radius: 122px;
  border-top-right-radius: 122px;
  -moz-border-top-left-radius: 122px;
  -moz-border-top-right-radius: 122px;
  -webkit-border-top-left-radius: 122px;
  -webkit-border-top-right-radius: 122px;
}
.round-right{
  border-top-right-radius: 122px;
  border-bottom-right-radius: 122px;
  -moz-border-top-right-radius: 122px;
  -moz-border-bottom-right-radius: 122px;
  -webkit-border-top-right-radius: 122px;
  -webkit-border-bottom-right-radius: 122px;
}
.round-bottom{
  border-bottom-left-radius: 122px;
  border-bottom-right-radius: 122px;
  -moz-border-bottom-left-radius: 122px;
  -moz-border-bottom-right-radius: 122px;
  -webkit-border-bottom-left-radius: 122px;
  -webkit-border-bottom-right-radius: 122px;
}
.round-left{
  border-top-left-radius: 122px;
  border-bottom-left-radius: 122px;
  -moz-border-top-left-radius: 122px;
  -moz-border-bottom-left-radius: 122px;
  -webkit-border-top-left-radius: 122px;
  -webkit-border-bottom-left-radius: 122px;
}
.rounded{
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.rounded-2{
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.rounded-4{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.rounded-6{
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.rounded-8{
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.rounded-10{
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.rounded-12{
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
.rounded-14{
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
}
.rounded-16{
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}
.rounded-18{
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
}
.rounded-20{
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

/* __ remove rounded values __ */

.-rounded,
.-round{
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-borderradius: 0px;
}
.-rounded-top,
.-round-top{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
}
.-rounded-bottom,
.-round-bottom{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}
.-rounded-left,
.-round-left{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0px;
  -moz-border-top-left-radius: 0;
  -moz-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0px;
}
.-rounded-right,
.-round-right{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
  -moz-border-top-right-radius: 0;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0px;
}
.-rounded-top-left,
.-round-top-left{
  border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -webkt-border-top-left-radius: 0;
}
.-rounded-top-right,
.-round-top-right{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
}
.-rounded-bottom-right,
.-round-bottom-right{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}
.-rounded-bottom-left,
.-round-bottom-left{
  border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}


/* __ pull - floats __ */

.pull-left,
.float-left{
  float: left;
}
.pull-right,
.float-right{
  float: right;
}
.pull-left-important{
  float: left !important;
}
.pull-right-important{
  float: right !important;
}

/* __ clear floats __ */

.clear{
  clear: both;
}
.clear-left{
  clear: left;
}
.clear-right{
  clear: right;
}
.clear-initial{
  clear: initial;
}
.clear-inherit{
  clear: inherit;
}

/* __ position __ */

.center {
  float: none;
  margin: 0 auto;
}
.static{
  position: static;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.absolute-top{
  position: absolute;
  top: 0;
}
.absolute-right{
  position: absolute;
  right: 0;
}
.absolute-bottom{
  position: absolute;
  bottom: 0;
}
.absolute-left{
  position: absolute;
  left: 0;
}
.fixed{
  position: fixed;
}
.fixed-all {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateZ(0);
}
.fixed-top{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateZ(0);
}
.fixed-bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateZ(0);
}
.fixed-left{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  -webkit-transform: translateZ(0);
}
.fixed-right{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateZ(0);
}

/*__ display __*/

.show,
.hover-show:hover,
.hover-children-show:hover .hide{
  display: block !important;
}
.hide,
.hover-hide:hover,
.hover-children-hide:hover .show{
  display: none !important;
}
.block{
  display: block;
}
.inline {
  display: inline;
}
.inline-block{
  display: inline-block;
}
.list-item{
  display: list-item;
}
.run-in{
  display: run-in;
}



/* __ visibility __ */

.visible,
.hover-visible:hover,
.hover-children-visible:hover .hidden{
  visibility: visible;
}
.hidden,
.hover-hidden:hover,
.hover-children-hidden:hover .visible{
  visibility: hidden;
}
.collapse{
  visibility: collapse;
}

/* __ overflow __ */

.overflow-hidden,
.overflow-hidden:hover{
  overflow: hidden;
}
.overflow-visible,
.overflow-visible:hover{
  visibility: visible;
}
.overflow-scroll,
.overflow-scroll:hover{
  overflow: scroll;
}
.overflow-auto,
.overflow-auto:auto{
  overflow: auto;
}

.overflow-x-hidden,
.overflow-x-hidden:hover{
  overflow-x: hidden;
  overflow-y: visible;
}
.overflow-y-hidden,
.overflow-y-hidden:hover{
  overflow-y: hidden;
  overflow-x: visible;
}
.overflow-x-visible,
.overflow-x-visible:hover{
  overflow-x: visible;
  overflow-y: hidden;
}
.overflow-y-visible,
.overflow-y-visible:hover{
  overflow-y: visible;
  overflow-x: hidden;
}
.overflow-x-scroll,
.overflow-x-scroll:hover{
  overflow-y: hidden;
  overflow-x: scroll;
}
.overflow-y-scroll,
.overflow-y-scroll:hover{
  overflow-x: hidden;
  overflow-y: scroll;
}
.overflow-x-auto,
.overflow-x-auto:hover{
  overflow-x: auto;
  overflow-y: hidden;
}
.overflow-y-auto,
.overflow-y-auto:hover{
  overflow-y: auto;
  overflow-x: hidden;
}

/* __ dimensions __ */

.full-width{
  width: 100%;
}

.width-auto{
  width: auto;
}
.full-height{
  height: 100%;
}

.height-auto{
  height: auto;
}

/* __ padders pusher / pullers __ */

.margin{
  margin: 10px;
}
.margin-h{
  margin: 0 10px;
}
.margin-v{
  margin: 10px 0;
}
.margin-top{
  margin-top: 10px;
}
.margin-right{
  margin-right: 10px;
}
.margin-bottom{
  margin-bottom: 10px;
}
.margin-left{
  margin-left: 10px;
}

.padding{
  padding: 10px;
}
.padding-20{
  padding: 20px;
}
.padding-30{
  padding: 30px;
}

.padding-h{
  padding-left: 10px;
  padding-right: 10px;
}
.padding-v{
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-top{
  padding-top: 10px;
}
.padding-right{
  padding-right: 10px;
}
.padding-bottom{
  padding-bottom: 10px;
}
.padding-left{
  padding-left: 10px;
}


/* __ remove push pull values __ */

.-margin{
  margin: 0 !important;
}
.-margin-h{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.-margin-v{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.-margin-top{
  margin-top: 0 !important;
}
.-margin-right{
  margin-right: 0 !important;
}
.-margin-bottom{
  margin-bottom: 0 !important;
}
.-margin-left{
  margin-left: 0 !important;
}

.-padding{
  padding: 0 !important;
}
.-padding-h{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.-padding-v{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.-padding-top{
  padding-top: 0 !important;
}
.-padding-right{
  padding-right: 0 !important;
}
.-padding-bottom{
  padding-bottom: 0 !important;
}
.-padding-left{
  padding-left: 0 !important;
}
